.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.table-responsive {
    margin-top: 1rem;
}

/* .custom-image {
    width: 70%;
    /* Atau ukuran yang diinginkan */
    /* height: auto; /* Untuk menjaga aspek rasio gambar */

